@keyframes zoom-effect {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.artist-image {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-name: zoom-effect;
}
