@keyframes zoom-effect {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.wrapper {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.artist-image {
  min-height: 100%;
  min-width: 100vw;
  object-fit: contain;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  opacity: 0.8;
  margin-top: -40%;
  transform: translateY(40%);
  filter: brightness(50%);
}
